{{ partial "header.html" . }}


<!-- {{ range .Data.Pages }}

  <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>


{{ end }}

 -->



 <ul class="cards">


{{ range .Data.Pages }}

        <li class="cards__item">
          <div class="card">
            <div class=""><img src="{{ .Params.image }}" ></div>
               <div class="card__content">

                 <div class="card__title">
                   <h1>
                     <a href="{{ .Permalink }}">
                       {{ .Title }}
                     </a>
                   </h1>
                 </div>

                 <p class="card__text">{{ .Params.intro}}</p>

                 <a href="{{ .Permalink }}">
                   <button class="btn btn--block card__btn">
                      <span>
                          {{ .Title }}
                      </span>
                   </button>
                 </a>
        </div>
       </div>
    </li>

 {{ end }}


</ul>
{{ partial "footer.html" .}}
